/* CSS declarations go here */
#nav-sidebar {
	float: left;
	position: fixed;
	top: 0
	width: 20%
}

#detailDisplay {
	display: inline;
	float: left;
	width: 20%;
	height: 500px;	
	background-color:#4ff;
}

#small_map {
	height: 70%;
}

#nodeData {
	height: 30%;	
	background-color:#f22;
}

#streamData {
	display: inline;
	float: left;
	margin-top: 2%;
	margin-left: 20%;
	position: relative;
	width: 60%
}


/* SideBar Styling */

.sidebarFont {
	font-size: 200%;
}

#sidebarTop {
	font-size: 170%;
	margin-top:40px;
	font-weight:bold;
	font-style:italic;
}

.sidebarMain {
	margin-left:30px;
}