/* CSS declarations go here */

/*Top and left nav-bars*/
#nav-sidebar {
	float: left;
	position: fixed;
	font-size: 200%;
}

@media screen {
#nav-topbar {
	position: static;
	font-size: 170%;
	font-weight:bold;
	font-style:italic;
}
}

@media handheld {
#nav-topbar {
	position: static;
	font-size: 100%;
	margin-top:40px;
	font-weight:bold;
	font-style:italic;
}
}

#nav-sidebarTop {
	font-size: 170%;
	margin-top:40px;
	font-weight:bold;
	font-style:italic;
}

/* Data Stream Dependent*/
#detailDisplay {
	position: fixed;
	display: inline;
	float: left;
	width: 20%;
	height: 500px;	
	background-color:#4ff;
}

#small_map {
	position: fixed;
	height: 70%;
}

#nodeData {
	height: 30%;	
	background-color:#f22;
}

#streamData {
	display: inline;
	float: left;
	margin-top: 2%;
	margin-left: 20%;
	position: relative;
	width: 60%
}